/* CSS for the final project in the CSS section of Foundations */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
    background-color: #1F2937;
    flex-shrink: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.middle {
    /* height: calc(100vh); */
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    height: 25%;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 90px;
    padding-bottom: 90px;
    align-items: center;
    justify-content: center;

}

.hero-left {
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.hero-image {
    text-align: center;
    padding-left: 60px;
}

.hero-info {
    margin-top: 8px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 8px;
}



.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero-info {
    font-size: 18px;
    color: #E5E7EB
}
.image-cards {
    display: flex;
    flex-direction: column;
    height: 25%;
    align-items: center;
}

.cute-sprays {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.spray-info {
    max-width: 300px;
  }

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    padding-left: 200px;
    padding-right: 200px;
    /* background-color: #e5e7eb; */

}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.quote-credit  {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    padding-right: 63px;
}

.action-section {
    display: flex;
    height: 25%;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 23px;
    flex-shrink: 0;
}

.image {
    border: 5px solid #3882f6;
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
}