/* CSS for the final project in the CSS section of Foundations */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
    background-color: #1F2937;
    flex-shrink: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.middle {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    height: 25%;
}

.image-cards {
    display: flex;
    height: 25%;
}

.cute-sprays {
    display: flex;
}

.quote-section {
    display: flex;
    height: 25%;
}

.action-section {
    display: flex;
    height: 25%;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 23px;
    flex-shrink: 0;
}